.main {
    margin-top: 180px;
}

.wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textLink {
    text-decoration: none;
    color: #4C4CFF;
    padding-left: 8px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center
}