.header {
    background-color: #1c1c21;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
    height: 88px;
}

.navMenu {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    max-width: 1240px;
}

.itemMenu_active {
    color: #fff;
    text-decoration: none;
}

.listItem {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #8585ad;
}

.listItem:hover {
    color: #fff;
}

.logo {
    width: 290px;
    height: 40px;
    margin: 0 288px 0 112px;
}

.link {
    text-decoration: none;
    color: #8585ad;
}